*{
  margin:0;
  padding:0;
  box-sizing: inherit;
}
html{
  font-size: 50%;
}
body{
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}
p{
  font-size: 2vh;
  height: 50%;
  text-indent: 50px;
  padding: 10px 10px 10px 10px;
}

.page, :target ~ .default {
  display: none;
}

.default, :target {
  display: block;
}


/*CAROUSELl */
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
  max-width: 100%;
  
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  justify-content: center;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* style */

 

.pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.hands{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.header{
  height: calc(100vh - 56px);
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(32, 103, 161, 0.7),
    rgba(40,180,131, 0.7)),
    url(https://images.unsplash.com/photo-1458245201577-fc8a130b8829?ixlib=rb-0.3.5&s=5d00367…&auto=format&fit=crop&w=1355&q=80);
  background-size: cover;
  background-position: top;
}
.text-box{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.heading-primary{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.heading-primary-main{
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .03em;
}
.heading-primary-sub{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

}
.llego{
  padding-right: .2em;
}
.nav{
background-color: rgba(54, 168, 115, 0.8);
width: 100%;
}


a:hover{
  background-color: #196F3D;
  transition: 1.0s;

}
.menu{
  margin: 0 ;
  text-align: center;
  background-color: rgba(37, 122, 83, 0.8);
}



.menu a{
  width: 100%;
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  line-height: 7rem;
  font-size: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2px;
}

label{
  margin: 0 4rem 0 0;
  font-size: 2.6rem;
  line-height: 7rem;
  display: none;
  width: 2.6rem;
  float: right;
  color:#fff;
}
#toggle{
  display: none;

}

/*CONTENT */


.holdingContainer{
  width: 100%;
  height: 80vh;
  display: flex;
  background: #FFFFFF;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: row;

}

.internalcontainerL{
  flex: 1;
  height:150px;
  background: #FFFFFF;
  padding: 30px;
  font-family: sans-serif;
  margin: 50px;
  font-size: 2vh;
  border-radius: 5px;
  text-align: center;
  font-family: "lato", sans-serif;
}

.internalcontainerR{
  flex: 1;
  height: 150px;
  background: #FFFFFF;
  padding: 30px;
  font-size: 2vh;
  font-family: sans-serif;
  margin: 50px;
  border-radius: 5px;
  /* box-shadow: 5px 15px 30px grey; */
  text-align: center;
  font-family: "lato", sans-serif;
}

/* FOOTER */

.footer{
  width: 100%;
  height: 500px;
  display: flex;
  background: #D6DBDF;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: row;
}

.ftcontent1{
  flex:1;
  background: #D6DBDF;
  flex-direction: column;
  height: 400px;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}
.ftcontent2{
  flex:1;
  height: 400px;
  background: #D6DBDF;
  flex-direction: column;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}
.ftcontent3{
  flex:1;
  height: 400px;
  background: #D6DBDF;
  flex-direction: column;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}
.ftcontent4{
  flex:1;
  height: 400px;
  background: #D6DBDF;
  flex-direction: column;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}


@media only screen and (max-width: 700px){
  
  .footer{
    flex-direction: column;
    height: 1000px;
  }
  .ftcontent1{
    flex-direction: row;
    flex: 1;
    height: 25%;
    margin: 5px;
    object-fit: cover;
  }
  .ftcontent2{
    flex-direction: row;
    flex: 1;
    height: 25%;
    margin: 5px;
    object-fit: cover;
  }
  
  .ftcontent3{
    flex-direction: row;
    flex: 1;
    height: 25%;
    margin: 5px;
    object-fit: cover;
  }
  
  .ftcontent4{
    flex-direction: row;
    flex: 1;
    height: 25%;
    margin: 5px;
    object-fit: cover;
  }
  

  .holdingContainer{
    flex-direction: column;
    padding: 2px;
    height: 1000px;
  }

  .internalcontainerL{
    margin:25px;
  }
  .internalcontainerR{
    margin: 25px;
  }
  p{
    font-size: 1.8vh;
  }

  label{
    display: block;
    cursor: pointer;
  }
  h1{
    font-size: 190%;
    text-align: center;
  }
  .homebtn {
    margin-left: 55px;
 }
  .menu{
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a{
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    text-align: center;
    padding:0;
  }
  #toggle:checked + .menu{
    display: block;
  }

}


.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  position: fixed;
  z-index: 10;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
  
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 10;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
